################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Promises/bin/Debug
/Promises/bld/Debug
*.db
