.chart
{
    height: 150px;
    margin: 80px;
    width: 300px;
    float: left;
}

    .chart progress {
        background-color: rgb(29,29,29);
        display: inline;
        height: 35px;
        margin: 0 -50px;
        transform: rotate(-90deg);
        width: 150px;
    }

progress.A {
    border-left: solid 1px red;
    color: red;
}

progress.B {
    border-left: solid 1px blue;
    color: blue;
}

progress.C {
    border-left: solid 1px yellow;
    color: yellow;
}

progress.D {
    border-left: solid 1px darkviolet;
    color: darkviolet;
}

button {
    margin-top: 70px;
}

p {
    float: left;
    height: 150px;
    width: 1000px;
    margin-left: 50px;
}

    p #reset {
        margin-top: 0px;
    }